:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.5rem;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #211f29;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  display: contents;
}

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  justify-items: center;
  align-content: center;
}

input {
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  background-color: #7f7f7f3f;
  border: none;
  outline: none;
  font-size: inherit;
}

input:focus {
  background-color: #7f7f7f7f;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #000000;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
